@import '../../../variables';

.courses--list__item {
  background: $white-color;
  padding: 1.5rem;

  &:focus, &:hover {
    outline: 0.3rem solid $blue-color;
  }
}

.list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &--title {
    color: $blue-text-color;
    font-size: 2rem;
  }

  &--controls {
    display: flex;
    justify-content: space-evenly;

    .delete {
      width: 8rem;
      height: 2.2rem;
      border: none;
      border-radius: 1.1rem;
      background-color:$primary-button-color;
      color: $white-color;

      &:focus, &:hover {
        outline: none;
        background-color:$active-button-color;
      }
    }

    .edit {
      width: 8rem;
      height: 2.2rem;
      border: none;
      border-radius: 1.1rem;
      background-color:$primary-button-color;
      color: $white-color;

      &:focus, &:hover {
        outline: none;
        background-color:$active-button-color;
      }
    }
  }
  .top-rated {
    fill: $orange-color;
  }
}
.fresh {
  border: 0.3rem solid $fresh-course;
}

.upcoming {
  border: 0.3rem solid #3b7495; //$upcoming-course;
}
