<div class="form">
  <h2>Create new Course</h2>
  <form>
    <fieldset class="form__fields">
      <legend>
        <p>Make sure you have filled in all the necessary fields and have uploaded all the required files</p>
      </legend>
      <label for="title">Course title</label>
      <input type="text" id="title" name="title" placeholder="Full course title" [(ngModel)]="title">
      <label for="description">Details</label>
      <textarea id="description" name="description" cols="30" rows="10" placeholder="Course description:" [(ngModel)]="description"></textarea>
      <label for="date">Start date</label>
      <input type="text" name="date" id="date" [(ngModel)]="date">
      <label for="duration">Duration</label>
      <input type="number" name="duration" id="duration" [(ngModel)]="duration">
      <pre *ngIf="duration">{{duration | duration}}</pre>
    </fieldset>
  </form>

  <div class="form__controls">
    <button (click)=save()>Save</button>
    <button (click)=cancel()>Cancel</button>
  </div>
</div>