<section class="form">
  <h2>Create new Course</h2>
  <form [formGroup] ="addForm" (ngSubmit) = "onSubmit()">
    <fieldset class="form__fields">
      <legend>
        <p>Make sure you have filled in all the necessary fields and have uploaded all the required files</p>
      </legend>
      <label for="title">Course title</label>
      <input type="text" id="title" name="title" placeholder="Full course title" formControlName="name">
      <label for="description">Details</label>
      <textarea id="description" name="description" cols="30" rows="10" placeholder="Course description:" formControlName="description"></textarea>
      <app-form-date formControlName="date"></app-form-date>
      <app-form-duration formControlName="length"></app-form-duration>
    </fieldset>
  </form>

  <div class="form__controls">
    <button type="submit" [disabled]="addForm.invalid">Save</button>
    <!-- <button (click)=save()>Save</button> -->
    <button (click)=cancel()>Cancel</button>
  </div>
</section>